<div class="col-md-6 offset-md-3">
    <h3> Create Airline </h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> airlineName</label>
            <input type="text" class="form-control" id="AirwayName" [(ngModel)]="airline.airlineName" name="AirwayName">
        </div>

        <div class="form-group">
            <label> Source</label>
            <input type="text" class="form-control" id="source" [(ngModel)]="airline.source" name="source">
        </div>

        <div class="form-group">
            <label> Destination</label>
            <input type="text" class="form-control" id="destination" [(ngModel)]="airline.destination"
                name="destination">
        </div>

        <div class="form-group">
            <label> Number of seatingcapacity</label>
            <input type="number" class="form-control" id="noofseatingcapacity" [(ngModel)]="airline.seatingCapacity"
                name="noofseatingcapacity">
        </div>

        <div class="form-group">
            <label> Price </label>
            <input type="number" class="form-control" id="Price" [(ngModel)]="airline.cost" name="price">
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="isInternationalFlight"
            [(ngModel)]="airline.isInternationalFlight"  id="inlineRadio1" value="true">

            <label class="form-check-label" for="inlineRadio1">International Flight</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="isInternationalFlight"
            [(ngModel)]="airline.isInternationalFlight" id="inlineRadio2" value="false">
           
            <label class="form-check-label" for="inlineRadio2">Domestic Flight</label>
          </div>


        <button class="btn btn-success" type="submit">Submit</button>

    </form>
</div>