<div class="col-md-6 offset-md-3">
    <h3> Update Airline </h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> Airway Name</label>
            <input type="text" class="form-control" id="AirwayName" [(ngModel)]="airline.airlineName" name="AirwayName">
                
        </div>

        <div class="form-group">
            <label> Source</label>
            <input type="text" class="form-control" id="source" [(ngModel)]="airline.source" name="source">
           
        </div>

        <div class="form-group">
            <label> Destination</label>
            <input type="text" class="form-control" id="destination" [(ngModel)]="airline.destination" name="destination">
            
        </div>

        <div class="form-group">
            <label> Number of seatingcapacity</label>
            <input type="number" class="form-control" id="noofseatingcapacity" [(ngModel)]="airline.seatingCapacity" name="noofseatingcapacity">
            
        </div>

        <div class="form-group">
            <label> Price </label>
            <input type="number" class="form-control" id="price" [(ngModel)]="airline.cost" name="price">
            
        </div>


        <button class="btn btn-success" type="submit">Submit</button>

    </form>
</div>

