<form action="action_page.php" method="post">
    <div class="imgcontainer">
      <img src=" " alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username"  name="uname" required  [(ngModel)]="uname">
     
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required  [(ngModel)]="psw">
  
      <button (click)="Register()">signup</button>
      
    </div>
  
    
  </form>
