<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
        <input type="text" class="form-control"
         placeholder="Search by airline " 
         [(ngModel)] = "airlineName"/>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" 
            type="button" (click)="searchByName()">
            Search</button>
        </div>
        </div>
    </div>
</div>
<br>
<aside>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="fetchInternationalFlight()"> International Flight</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="fetchDomesticFlight()"> Domestic Flight</button>
    </aside>
<h2> Airlines List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Airline Name </th>
            <th> Source Name </th>
            <th> Destination Name </th>
            <th> Seating Capacity </th>
            <th> Cost </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let airlineDetail of airline">
            <td> {{ airlineDetail.airlineName }} </td>
            <td> {{ airlineDetail.source }} </td>
            <td> {{ airlineDetail.destination }} </td>
            <td> {{ airlineDetail.seatingCapacity }} </td>
            <td> {{ airlineDetail.cost }} </td>
            <td>
                <button (click)="updateAirlineDetails(airlineDetail.airlineId)" class="btn btn-info"> Update</button>
                <button (click)="deleteAirlineDetail(airlineDetail.airlineId)" class="btn btn-danger"
                    style="margin-left: 10px"> Delete</button>
                <button (click)="airlineDetailsById(airlineDetail.airlineId)" class="btn btn-info"
                    style="margin-left: 10px"> View</button>
                    <button (click)="bookedDetails(airlineDetail.airlineId)" class="btn btn-outline-dark" 
                title="This button will alow you to book a tickets in the airline details"style="margin-left: 10px">
                BOOK A TICKET</button>
            </td>
        </tr>
        <tr *ngIf="airline.length !== 0">
            <button (click)="removeAllAirlineDetails()" class="m-3 btn btn-sm btn-danger" 
            title="This button will alow you to book a tickets in the airline details" 
            style="margin-left: 10px"> Remove All</button>
        </tr>
        <tr scope="row" *ngIf="airline.length === 0">
<td colspan="4" class="text-center" >No record found</td>
</tr>
    </tbody>
</table>